{% extends "base.html" %}
{% block content %}

    {{ macros.m_row_start() }}
    {{ macros.m_button('add_btn', '스케줄 추가') }}
    {{ macros.m_row_end() }}

    {{ macros.m_hr_head_top() }}
    {{ macros.m_row_start('0') }}
    {{ macros.m_col(4, macros.m_strong('제목 / 업로더')) }}
    {{ macros.m_col(4, macros.m_strong('설정')) }}
    {{ macros.m_col(4, macros.m_strong('상태')) }}
    {{ macros.m_row_end() }}
    {{ macros.m_hr_head_bottom() }}
    <div id="list_div"></div>

    <!-- Modal -->
    <div id="schedule_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">스케줄 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modal_form">
                        <input id="db_id" name="db_id" type="hidden" value="">
                        {{ macros.setting_input_text('url', 'URL', placeholder='https://www.youtube.com/playlist?list= 주소', desc='유튜브 플레이리스트 주소') }}
                        {{ macros.setting_input_text('save_path', '저장 폴더', value=arg['save_path'], placeholder='저장 폴더 경로', desc='템플릿 규칙 사용 불가. 폴더명에 템플릿 규칙을 사용하려면 저장 폴더엔 상위 폴더 경로를 지정하고 파일명에 하위 경로를 추가해주세요.') }}
                        {{ macros.setting_input_text('filename', '파일명', value=arg['filename'], desc='템플릿 규칙은 https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template 참고') }}
                        {{ macros.setting_select('format', '동영상 포맷', arg['preset_list'], col='4') }}
                        {{ macros.setting_checkbox('convert_mp3', 'mp3 변환', value='False') }}
                        {{ macros.setting_checkbox('daterange', '날짜 지정', value='False', desc='지정한 날짜 이후에 업로드된 동영상만 다운로드') }}
                        <div id="daterange_div" class="collapse">
                            {{ macros.setting_input_text('date_after', '', value=arg['date_after'], placeholder='YYYY-MM-DD', type='date') }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="schedule_modal_save_btn" class="btn btn-primary" type="button">저장</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        let current_data;

        // 리스트 로딩
        fetch(`/${package_name}/ajax/list_scheduler`, {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            }
        }).then(response => response.json()).then(make_list);

        // 스케줄 추가
        const add_btn = document.getElementById('add_btn');
        add_btn.addEventListener('click', (event) => {
            event.preventDefault();
            document.getElementById('db_id').value = '';
            document.getElementById('url').disabled = false;
            document.getElementById('modal_form').reset();
            $('#convert_mp3').bootstrapToggle('off');
            $('#daterange').bootstrapToggle('off');
            $('#schedule_modal').modal();
        });

        const list_div = document.getElementById('list_div');
        list_div.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            if (target.tagName !== 'BUTTON') {
                return;
            }
            const index = target.dataset.id;
            if (target.classList.contains('youtube-edit')) {
                // 스케줄 수정
                document.getElementById('db_id').value = index;
                const url = document.getElementById('url');
                url.value = current_data[index].url;
                url.disabled = true;
                document.getElementById('save_path').value = current_data[index].save_path;
                document.getElementById('filename').value = current_data[index].filename;
                document.getElementById('format').value = current_data[index].format;
                $('#convert_mp3').bootstrapToggle((current_data[index].convert_mp3) ? "on" : "off");
                $('#daterange').bootstrapToggle((current_data[index].date_after) ? "on" : "off");
                let date_after = current_data[index].date_after;
                if (date_after) {
                    date_after = new Date(date_after);
                    let year = date_after.getFullYear().toString().padStart(4, '0');
                    let month = (date_after.getMonth() + 1).toString().padStart(2, '0');
                    let date = date_after.getDate().toString().padStart(2, '0');
                    date_after = `${year}-${month}-${date}`;
                } else {
                    date_after = '';
                }
                document.getElementById('date_after').value = date_after;
                $('#schedule_modal').modal();
            } else if (target.classList.contains('youtube-del')) {
                // 스케줄 삭제
                document.getElementById('confirm_title').textContent = '스케줄 삭제';
                document.getElementById('confirm_body').textContent = '해당 스케줄을 삭제하시겠습니까?';
                $('#confirm_button').off('click').click(index, del_scheduler);
                $('#confirm_modal').modal();
            } else if (target.classList.contains('youtube-archive')) {
                // Archive 삭제
                document.getElementById('confirm_title').textContent = 'Archive 삭제';
                document.getElementById('confirm_body').innerHTML = 'Archive 파일을 삭제하시겠습니까?<br>Archive 파일은 중복 다운로드를 막기 위해 이미 다운로드한 동영상 정보를 기록한 파일입니다. 삭제 시 플레이리스트 전체를 처음부터 다운로드합니다.';
                $('#confirm_button').off('click').click(index, del_archive);
                $('#confirm_modal').modal();
            }
        });

        // mp3 변환
        $('#convert_mp3').change(() => {
            if (document.getElementById('convert_mp3').checked) {
                document.getElementById('format').value = 'bestaudio/best';
            }
        });

        // 날짜 지정
        $('#daterange').change(() => {
            use_collapse('daterange');
        });

        // 스케줄 저장
        const schedule_modal_save_btn = document.getElementById('schedule_modal_save_btn');
        schedule_modal_save_btn.addEventListener('click', (event) => {
            event.preventDefault();
            const url = document.getElementById('url').value;
            if (url.startsWith('http') === false) {
                notify('URL을 입력하세요.', 'warning');
                return;
            }
            fetch(`/${package_name}/ajax/add_scheduler`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: get_formdata('#modal_form')
            }).then(response => response.json()).then((data) => {
                if (data === null) {
                    notify('플레이리스트가 아닙니다.', 'warning');
                    return;
                }
                make_list(data);
                notify('스케줄을 저장하였습니다.', 'success');
            }).catch(() => {
                notify('실패하였습니다.', 'danger');
            });
            $('#schedule_modal').modal('hide');
        });

        function make_list(data) {
            current_data = {};
            let str = '';
            for (let i of data) {
                current_data[i.id] = i;
                str += make_item(i);
            }
            list_div.innerHTML = str;
        }

        function make_item(data) {
            let str = m_row_start();
            let tmp = `<strong><a href="${data.url}" target="_blank">${data.title}</a></strong><br><br>`;
            tmp += `<a href="${data.uploader_url}" target="_blank">${data.uploader}</a>`;
            str += m_col(4, tmp);

            tmp = m_row_start(0);
            tmp += m_col2(3, '저장 경로', 'right');
            tmp += m_col2(9, data.path);
            tmp += m_row_end();
            tmp += m_row_start(0);
            tmp += m_col2(3, '동영상 포맷', 'right');
            tmp += m_col2(9, data.format);
            tmp += m_row_end();
            tmp += m_row_start(0);
            tmp += m_col2(3, 'mp3로 변환', 'right');
            tmp += m_col2(9, (data.convert_mp3) ? '사용' : '사용안함');
            tmp += m_row_end();
            str += m_col(4, tmp);

            tmp = `동영상 개수: ${data.count}<br>`;
            tmp += `마지막 실행: ${data.last_time}<br><br>`;
            let tmp2 = `<button class="btn btn-sm btn-outline-success youtube-edit" data-id="${data.id}">스케줄 수정</button>`;
            tmp2 += `<button class="btn btn-sm btn-outline-success youtube-del" data-id="${data.id}">스케줄 삭제</button>`;
            tmp2 += `<button class="btn btn-sm btn-outline-success youtube-archive" data-id="${data.id}">Archive 삭제</button>`;
            tmp += m_button_group(tmp2);
            str += m_col(4, tmp);

            str += m_row_end();
            str += m_hr(0);
            return str;
        }

        // 스케줄 삭제
        function del_scheduler(event) {
            event.preventDefault();
            fetch(`/${package_name}/ajax/del_scheduler`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    id: event.data
                })
            }).then(response => response.json()).then((data) => {
                make_list(data);
                notify('삭제하였습니다.', 'success');
            }).catch(() => {
                notify('실패하였습니다.', 'danger');
            });
        }

        // Archive 삭제
        function del_archive(event) {
            event.preventDefault();
            fetch(`/${package_name}/ajax/del_archive`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    id: event.data
                })
            }).then(response => response.json()).then((data) => {
                notify('삭제하였습니다.', 'success');
            }).catch(() => {
                notify('실패하였습니다.', 'danger');
            });
        }
    </script>

{% endblock %}
