{% extends "base.html" %}
{% block content %}

    <div id="content_div">
        {{ macros.setting_input_text_and_buttons('url', 'URL', [['analysis_btn', '분석'], ['go_btn', 'Go']], value=arg['url'], desc=['유튜브 동영상 또는 채널, 플레이리스트 주소', '다른 동영상 사이트도 지원']) }}
        <div id="button_div"></div>
        <div id="detail_div"></div>
        <div id="list_div"></div>
    </div>

    <!-- Modal -->
    <div id="youtube_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="youtubeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="youtube_modal_title" class="modal-title"></h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="modal_type" type="hidden" value="0">
                    {{ macros.setting_input_textarea('video_urls', 'URL', value='', disabled=True) }}
                    <form id="modal_form">
                        <input id="db_id" name="db_id" type="hidden" value="">
                        {{ macros.setting_input_text('save_path', '저장 폴더', value=arg['save_path'], placeholder='저장 폴더 경로', desc='템플릿 규칙 사용 불가. 폴더명에 템플릿 규칙을 사용하려면 저장 폴더엔 상위 폴더 경로를 지정하고 파일명에 하위 경로를 추가해주세요.') }}
                        {{ macros.setting_input_text('filename', '파일명', value=arg['filename'], desc='템플릿 규칙은 https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template 참고') }}
                        {{ macros.setting_select('format', '동영상 포맷', arg['preset_list'], col='4') }}
                        {{ macros.setting_checkbox('convert_mp3', 'mp3 변환', value='False') }}
                        {{ macros.setting_checkbox('daterange', '날짜 지정', value='False', desc='지정한 날짜 이후에 업로드된 동영상만 다운로드') }}
                        <div id="daterange_div" class="collapse">
                            {{ macros.setting_input_text('date_after', '', value=arg['date_after'], placeholder='YYYY-MM-DD', type='date') }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="youtube_modal_save_btn" class="btn btn-primary" type="button">추가</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        const error_code = {
            0: '성공',
            1: '필수 요청 변수가 없음',
            2: '잘못된 동영상 주소',
            3: '인덱스 범위를 벗어남',
            4: '키 값이 일치하지 않음',
            5: '허용되지 않은 값이 있음',
            10: '실패'
        };

        const analysis_btn = document.getElementById('analysis_btn');
        analysis_btn.addEventListener('click', click_analysis_btn);

        const go_btn = document.getElementById('go_btn');
        go_btn.addEventListener('click', (event) => {
            event.preventDefault();
            const url = document.getElementById('url').value;
            if (url.startsWith('http')) {
                open(url, '_blank');
            }
        });

        const content_div = document.getElementById('content_div');
        content_div.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            if (target.tagName !== 'BUTTON') {
                return;
            }
            const data = target.dataset;
            if (target.classList.contains('youtube-download')) {
                // 다운로드 추가
                document.getElementById('youtube_modal_title').textContent = '다운로드 추가';
                document.getElementById('modal_type').value = '0';
                document.getElementById('video_urls').value = data.url;
                $('#youtube_modal').modal();
            } else if (target.classList.contains('youtube-request')) {
                // 요청
                document.getElementById('url').value = data.url;
                click_analysis_btn(event);
            }
        });

        const button_div = document.getElementById('button_div');
        button_div.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            if (target.tagName !== 'BUTTON') {
                return;
            }
            switch (target.id) {
                // 선택 다운로드 추가
                case 'check_download_btn':
                    let urls = '';
                    for (const item of document.querySelectorAll('input.youtube-list')) {
                        if (item.checked) {
                            urls += `${item.dataset.url}\n`;
                        }
                    }
                    urls = urls.slice(0, -1);
                    if (urls.length === 0) {
                        notify('다운로드할 영상을 선택하세요.', 'warning');
                    } else {
                        document.getElementById('youtube_modal_title').textContent = '선택 다운로드 추가';
                        document.getElementById('modal_type').value = '0';
                        document.getElementById('video_urls').value = urls;
                        $('#youtube_modal').modal();
                    }
                    break;

                // 전체 선택
                case 'all_check_on_btn':
                    $('input.youtube-list').bootstrapToggle('on');
                    break;

                // 전체 해제
                case 'all_check_off_btn':
                    $('input.youtube-list').bootstrapToggle('off');
                    break;

                // 스케줄러에 추가
                case 'add_scheduler_btn':
                    document.getElementById('youtube_modal_title').textContent = '스케줄러에 추가';
                    document.getElementById('modal_type').value = '1';
                    document.getElementById('video_urls').value = target.dataset.url;
                    $('#youtube_modal').modal();
                    break;
            }
        });

        // mp3 변환
        $('#convert_mp3').change(() => {
            if (document.getElementById('convert_mp3').checked) {
                document.getElementById('format').value = 'bestaudio/best';
            }
        });

        // 날짜 지정
        $('#daterange').change(() => {
            use_collapse('daterange');
        });

        // 모달 추가 버튼
        const youtube_modal_save_btn = document.getElementById('youtube_modal_save_btn');
        youtube_modal_save_btn.addEventListener('click', (event) => {
            event.preventDefault();
            const type = parseInt(document.getElementById('modal_type').value);
            const form_data = new URLSearchParams($('#modal_form').serializeObject());
            const video_urls = document.getElementById('video_urls');
            if (type === 0) {
                // 다운로드 추가
                video_urls.value.split('\n').forEach((url) => form_data.append('download[]', url));
                fetch(`/${package_name}/ajax/add_download`, {
                    method: 'POST',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    body: form_data
                }).then(response => response.json()).then((data) => {
                    notify(`${data}개를 큐에 추가하였습니다.`, 'success');
                }).catch(() => {
                    notify('실패하였습니다.', 'danger');
                });
            } else if (type === 1) {
                // 스케줄러 추가
                form_data.append('url', document.getElementById('video_urls').value);
                fetch(`/${package_name}/ajax/add_scheduler`, {
                    method: 'POST',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    body: form_data
                }).then(response => response.json()).then(() => {
                    notify('스케줄을 저장하였습니다.', 'success');
                }).catch(() => {
                    notify('실패하였습니다.', 'danger');
                });
            }
            $('#youtube_modal').modal('hide');
        });

        function click_analysis_btn(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;
            if (!url.startsWith('http')) {
                notify('URL을 입력하세요.', 'warning');
                return;
            }
            fetch(`/${package_name}/ajax/analysis`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    url: url
                })
            }).then(response => response.json()).then((data) => {
                if (data.errorCode !== 0) {
                    notify('분석 실패', 'warning');
                    return;
                }
                const button_div = document.getElementById('button_div');
                button_div.innerHTML = '';
                const detail_div = document.getElementById('detail_div');
                detail_div.innerHTML = '';
                const list_div = document.getElementById('list_div');
                list_div.innerHTML = '';
                const info_dict = data.info_dict;
                const type = check_type(info_dict);
                if (type === 'playlist') {
                    // 플레이리스트 주소
                    button_div.innerHTML = make_button_scheduler(info_dict['webpage_url']);
                    detail_div.innerHTML = make_info(info_dict);
                    let str = '';
                    let index = 0;
                    for (const entry of info_dict['entries']) {
                        if (info_dict['extractor_key'] === 'YoutubeTab') {
                            str += make_item_youtube(entry, ++index);
                        } else {
                            str += make_item(entry, ++index);
                        }
                    }
                    list_div.innerHTML = str;
                    $('input.youtube-list').bootstrapToggle();
                } else if (type === 'video') {
                    // 동영상 주소
                    button_div.innerHTML = make_button_download(info_dict['webpage_url']);
                    detail_div.innerHTML = make_info(info_dict);
                } else if (type === 'channel') {
                    // 유튜브 채널 주소
                    detail_div.innerHTML = make_info(info_dict);
                    let str = '';
                    let index = 0;
                    for (const entry of info_dict['entries']) {
                        str += make_item_channel(entry, ++index);
                    }
                    list_div.innerHTML = str;
                }
            }).catch(() => {
                notify('요청 실패', 'danger');
            });
        }

        function check_type(info_dict) {
            if (info_dict['_type'] === 'playlist') {
                if (info_dict['extractor_key'] === 'YoutubeTab'
                    && info_dict['entries'].length > 0
                    && info_dict['entries'][0]['_type'] === 'url') {
                    return 'channel';
                } else {
                    return 'playlist';
                }
            } else {
                return 'video';
            }
        }

        function make_button_download(url) {
            return `<button class="btn btn-sm btn-outline-success youtube-download" data-url="${url}">다운로드 추가</button>`;
        }

        function make_button_scheduler(url) {
            let str = m_button('check_download_btn', '선택 다운로드 추가');
            str += m_button('all_check_on_btn', '전체 선택');
            str += m_button('all_check_off_btn', '전체 해제');
            str += m_button('add_scheduler_btn', '스케줄러에 추가', [{key: 'url', value: url}]);
            return m_button_group(str);
        }

        function make_info(data) {
            let str = m_hr_black();
            str += m_row_start(0);
            // 썸네일
            if (data['thumbnail']) {
                str += m_col(3, `<img class="img-fluid" src="${data['thumbnail']}" alt="${data['title']}">`);
            }
            // 정보
            let tmp = '';
            if (data['webpage_url']) {
                tmp += make_col('제목', `<a href="${data['webpage_url']}" target="_blank">${data['title']}</a>`);
            } else {
                tmp += make_col('제목', data['title']);
            }
            if (data['uploader']) {
                if (data['uploader_url']) {
                    tmp += make_col('업로더', `<a href="${data['uploader_url']}" target="_blank">${data['uploader']}</a>`);
                } else {
                    tmp += make_col('업로더', data['uploader']);
                }
            }
            if (data['upload_date']) {
                let date = data['upload_date'];
                tmp += make_col('날짜', `${date.substr(0, 4)}. ${date.substr(4, 2)}. ${date.substr(6, 2)}.`);
            }
            if (data['view_count']) {
                tmp += make_col('조회수', `${data['view_count'].toLocaleString()}회`);
            }
            if (data['description']) {
                tmp += make_col('설명', convert_description(data['description']));
            }
            if (data['duration']) {
                tmp += make_col('길이', convert_duration(data['duration']));
            }
            if (data['width'] && data['height']) {
                let tmp2 = `${data['width']}x${data['height']}`;
                if (data['fps']) {
                    tmp2 += `@${data['fps']}`;
                }
                tmp += make_col('화질', tmp2);
            }
            if (data['entries']) {
                tmp += make_col('동영상 수', `${data['entries'].length}개`);
            }
            str += m_col(9, tmp);

            str += m_row_end();
            str += m_hr_black();
            return str;
        }

        function make_item(data, index) {
            let str = m_row_start(0);
            str += m_col(1, index);
            if (data['thumbnail']) {
                str += m_col(2, `<img class="img-fluid" src="${data['thumbnail']}" alt="${data['title']}">`);
            } else {
                str += m_col(2, '');
            }
            str += m_col(6, `<a href="${data['url']}" target="_blank">${data['title']}</a>`);

            let tmp = '<div class="form-inline">';
            tmp += `<input class="youtube-list" type="checkbox" data-toggle="toggle" data-on="선 택" data-off="-" data-onstyle="success" data-offstyle="danger" data-size="small" data-url="${data['url']}" checked>&nbsp;&nbsp;&nbsp;&nbsp;`;
            tmp += make_button_download(data['url']);
            tmp += '</div>';
            str += m_col(3, tmp, 'right');

            str += m_row_end();
            str += m_hr(0);
            return str;
        }

        function make_item_youtube(data, index) {
            let str = m_row_start(0);
            str += m_col(1, index);
            str += m_col(2, `<img class="img-fluid" src="https://i.ytimg.com/vi/${data['id']}/hqdefault.jpg" alt="${data['title']}">`);
            str += m_col(6, `<a href="https://www.youtube.com/watch?v=${data['url']}" target="_blank">${data['title']}</a>`);

            let tmp = '<div class="form-inline">';
            tmp += `<input class="youtube-list" type="checkbox" data-toggle="toggle" data-on="선 택" data-off="-" data-onstyle="success" data-offstyle="danger" data-size="small" data-url="https://www.youtube.com/watch?v=${data['url']}"}" checked>&nbsp;&nbsp;&nbsp;&nbsp;`;
            tmp += make_button_download(`https://www.youtube.com/watch?v=${data['url']}`);
            tmp += '</div>';
            str += m_col(3, tmp, 'right');

            str += m_row_end();
            str += m_hr(0);
            return str;
        }

        function make_item_channel(data, index) {
            let str = m_row_start(0);
            str += m_col(1, index);
            str += m_col(8, `<a href="${data['url']}" target="_blank">${data['title']}</a>`);

            let tmp = `<button class="btn btn-sm btn-outline-success youtube-request" data-url="${url}">분석</button>`;
            str += m_col(3, tmp, 'right');

            str += m_row_end();
            str += m_hr(0);
            return str;
        }

        function make_col(right, left) {
            let str = m_row_start(0);
            str += m_col(3, `<div class="my-1 font-weight-bold">${right}</div>`, 'right');
            str += m_col(9, `<div class="my-1">${left}</div>`);
            str += m_row_end();
            return str;
        }

        function convert_description(str) {
            str = str.replace(/#([^\s#]+)/g, '<a href="https://www.youtube.com/hashtag/$1" target="_blank">#$1</a>');
            str = str.replace(/\n/g, '<br>');
            return str;
        }

        function convert_duration(int) {
            let str = '';
            const h = Math.floor(int / 3600);
            const m = Math.floor((int % 3600) / 60);
            const s = int % 60;
            if (h !== 0) {
                str += `${h}:`;
                str += (m < 10) ? `0${m}` : m;
            } else {
                str += m;
            }
            str += (s < 10) ? `:0${s}` : `:${s}`;
            return str;
        }

        // 플러그인
        jQuery.fn.serializeObject = function () {
            let result = {};
            jQuery.each(this.serializeArray(), function (i, element) {
                let node = result[element.name];
                if (typeof node !== 'undefined' && node !== null) {
                    if (jQuery.isArray(node)) {
                        node.push(element.value);
                    } else {
                        result[element.name] = [node, element.value];
                    }
                } else {
                    result[element.name] = element.value;
                }
            });
            jQuery.each(this.find('input[type=checkbox]'), function (i, element) {
                result[element.name] = $(element).prop('checked');
            });
            return result;
        };
    </script>

{% endblock %}
