{% extends "base.html" %}
{% block content %}

    <div>
        {{ macros.m_row_start() }}
        {{ macros.m_button('reset_btn', '초기화') }}
        {{ macros.m_row_end() }}

        {{ macros.m_hr_head_top() }}
        {{ macros.m_row_start('0') }}
        {{ macros.m_col(1, macros.m_strong('DB ID')) }}
        {{ macros.m_col(2, macros.m_strong('추가된 시간')) }}
        {{ macros.m_col(4, macros.m_strong('제목')) }}
        {{ macros.m_col(3, macros.m_strong('업로더')) }}
        {{ macros.m_col(2, macros.m_strong('상태')) }}
        {{ macros.m_row_end() }}
        {{ macros.m_hr_head_bottom() }}
        <div id="list"></div>
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        $(function () {
            let socket = io.connect(`${location.origin}/${package_name}`);

            socket.on('queue_list', function (data) {
                make_list(data);
            });

            // 리스트 로딩
            $.ajax({
                url: `/${package_name}/ajax/list_queue`,
                type: 'POST',
                cache: false,
                data: {},
                dataType: 'json'
            }).done(function (data) {
                make_list(data);
            });

            // 초기화
            $('#reset_btn').click(function () {
                $.ajax({
                    url: `/${package_name}/ajax/reset_queue`,
                    type: "POST",
                    cache: false,
                    data: {},
                    dataType: "json"
                }).done(function (data) {
                    make_list(data);
                });
                return false;
            });
        });

        function make_list(data) {
            let str = '';
            for (let item of data) {
                str += make_item(item);
            }
            $('#list').html(str);
        }

        function make_item(data) {
            let str = `<div id="item_${data.id}">`;
            str += m_row_start();
            str += m_col(1, data.id);
            str += m_col(1, data.created_time);
            str += m_col(1, `<a href="${data.url}" target="_blank">${data.title}</a>`);
            str += m_col(1, `<a href="${data.uploader_url}" target="_blank">${data.uploader}</a>`);
            str += m_col(1, data.status);
            str += m_row_end();
            str += '</div>';
            str += m_hr(0);
            return str;
        }
    </script>
{% endblock %}
